.DNPDirection{
  &-title{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    width: 1280px;
    padding: 5px 0;
    margin: 0 auto;
    @media(--tablet){
      width: 90vw;
      padding: .4vw 0;
    }
    @media(--mobile){
      align-items: stretch;
      width: 90vw;
      padding: 2vw 0;
    }
    & span{
      @mixin title 1;
      margin: 0;
    }
    &-icon{
      background-color: var(--color1);
      border-right: solid var(--color3) 5px;
      object-fit: contain;
      width: 50px;
      height: 50px;
      padding: 14px;
      @media(--tablet){
        width: 3.57vw;
        height: 3.57vw;
        padding: 1vw;
        border-right-width: .5vw;
      }
      @media(--mobile){
        width: 9vw;
        height: auto;
        padding: 2vw;
        border-right-width: 1vw;
      }
    }
    &-line{
      border-right: solid var(--color2) 5px;
      height: 78px;
      @media(--tablet){
        height: 5.6vw;
        border-right-width: .35vw;
      }
      @media(--mobile){
        height: auto;
        border-right-width: 1vw;
      }
    }
    &-text{
      @mixin title 4, color1;
      display: flex;
      flex-direction: column;
      border-bottom: solid var(--color2) 3px;
      margin: 0;
      width: 1170px;
      padding-left: 20px;
      padding-bottom: 5px;
      @media(--tablet){
        width: 83.5vw;
        padding-left: 1.42vw;
        padding-bottom: .35vw;
        border-bottom-width: 0.2vw; 
      }
      @media(--mobile){
        width: 72vw;
        padding-bottom: 1vw;
        padding-left: 3vw;
        font-size: var(--fuente2_mobile);
      }
    }
  }
  &-topics{
    width: 1280px;
    margin: 0 auto;
    @media(--tablet){
      width: 90vw;
    }
    @media(--mobile){
      width: 90vw;
    }
  }
  &-tab{
    background-color: var(--azulblanco);
    box-sizing: border-box;
    overflow: hidden;
    padding: 0 30px;
    order: 0;
    @media(--tablet){
      padding: 0 2.5vw;
    }
    @media(--mobile){
      padding: 0 5vw;
    }
    &.opened, &:focus{
      order: 1;
      padding-top: 25px;
      padding-bottom: 25px;
      @media(--tablet){
        padding-top: 2vw;
        padding-bottom: 2vw;
      }
      @media(--mobile){
        padding-top: 5vw;
        padding-bottom: 5vw;
      }
    }
  }
}